@import '../styles/themes/default.less';

.MMCalendar {
    position        : relative;
    background-color: @gray1;
}

.title {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 40px;
}

.date {
    display  : flex;
    flex-wrap: wrap;
}

.item {
    width            : calc(100% / 7);
    margin-bottom    : 2px;
    height           : 42px;
    font-size        : 17px;
    color            : @gray7;
    font-weight      : bold;
    // border        : 1px solid #333;

    &.isStart {
        border-radius: @borderRadiusSize 0 0 @borderRadiusSize;
    }

    &.isEnd {
        border-radius: 0 @borderRadiusSize @borderRadiusSize 0;
    }
}

.itemText {
    margin-top   : 5px;
    width        : calc(100% - 20px);
    line-height  : 18px;
    text-align   : center;
    border-radius: 50%;
}

.itemStart {
    font-size: 10px;
    color    : @gray1;
}

.itemContent {
    display       : flex;
    width         : 100%;
    height        : 100%;
    flex-direction: column;
    align-items   : center;

    &.isStart {
        background-color: @primaryColor;
        color           : @gray1;
        border-radius   : @borderRadiusSize;
    }
}

.selected {
    background-color: @calendarSelectedColor;
}

.disable {
    color: @gray4;
}

.monthBox {
    margin          : @containerSize;
    padding         : @spacingSize * 2 @containerSize;
    background-color: white;
    border-radius   : @borderRadiusSize;
}

.month {
    margin-bottom: @containerSize;
    text-align   : center;
    line-height  : 24px;
    font-size    : 17px;
    font-weight  : bold;
    color        : @primaryColor;
}

.delete {
    position: absolute;
    top     : 10px;
    right   : 10px;
}


.weekTitle {
    padding         : 0 @containerSize * 2;
    display         : flex;
    background-color: @gray1;
    box-shadow      : @boxShadow;

    >View {
        width           : calc(100% / 7);
        height          : 42px;
        line-height     : 42px;
        text-align      : center;
        font-size       : 17px;
        font-weight     : bold;
        // border-bottom: 1px solid #333;
    }
}

.tools {
    height: 80px;
}

.toolsContent {
    display         : flex;
    position        : fixed;
    left            : 0;
    bottom          : 0;
    padding         : 0 @spacingSize * 2;
    box-shadow      : @boxShadowTop;
    width           : 100%;
    height          : 80px;
    align-items     : center;
    background-color: @gray1;
}

.timeBox {
    flex: 1;
}
