@import './themes/default.less';

.container {
    margin: 0 @containerSize;
}

.spacing-small {
    width : @spacingSize;
    height: @spacingSize;
}

.spacing {
    width : @spacingSize * 2;
    height: @spacingSize * 2;
}

.spacing-big {
    width : @spacingSize * 3;
    height: @spacingSize * 3;
}

.spacing-iphone {
    height: 34px;
}

.flex {
    display: flex;
}

.flex-d-c {
    display       : flex;
    flex-direction: column;
}

.flex-c {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flex-j-c {
    display        : flex;
    justify-content: center;
}

.flex-a-c {
    display    : flex;
    align-items: center;
}

.flex-1 {
    flex: 1;
}
