@import '../styles/themes/default.less';


.MMEmpty {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}


.fixed {
    position      : fixed;
    width         : 100%;
    height        : 100%;
    top           : 0;
    left          : 0;
    pointer-events: none;
}

.text {
    font-size : 15px;
    margin-top: @spacingSize;
    text-align: center;
    color     : @gray4;
}

.image {
    width : 180px;
    height: 140px;
}
