// 样式全部引入
// @import "./components//taro-ui-styles/index.scss";
@import "./components//taro-ui-styles/components/button.scss";
@import "./components//taro-ui-styles/components/loading.scss";
@import "./components//taro-ui-styles/components/progress.scss";
@import "./components//taro-ui-styles/components/icon.scss";
page {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}