@import '../styles/themes/default.less';


@itemHeight : 35;

:export {
    itemHeight: @itemHeight;
}


.MMPicker {
    position: relative;
    height  : 240px;
}


.item {
    height     : @itemHeight + 0px;
    line-height: @itemHeight + 0px;
    text-align : center;
    font-size  : 23px;
    color      : @gray7;
}

.placeholder {
    height: 102px;
}

.select {
    position     : absolute;
    left         : 0;
    top          : 50%;
    margin-top   : -17.5px;
    width        : 100%;
    height       : 35px;
    border-top   : 0.5px solid @dividerColor;
    border-bottom: 0.5px solid @dividerColor;
}

.scrollview {
    width : 100%;
    height: 100%;

    ::-webkit-scrollbar {
        width : 0;
        height: 0;
        color : transparent;
    }
}


.modal {
    background-color: white;
    border-radius   : 10px 10px 0 0;
}

.title {
    display       : flex;
    flex-direction: column;
    height        : 43px;
    flex-direction: row;
    align-items   : center;
    font-weight   : bold;
    border-bottom : 0.5px solid @dividerColor;
}

.title_button {
    padding: 0 @spacingSize;
    color  : @blue;
}

.title_content {
    flex      : 1;
    text-align: center;
}

.modal_picker {
    flex: 1;
}

.content {
    display       : flex;
    flex-direction: column;
    flex-direction: row;
}


.test {
    position: absolute;
    top     : 0;
    left    : 0;
}
