@import '../styles/themes/default.less';


.MMItem {
    display         : flex;
    align-items     : center;
    background-color: @gray1;
    padding         : 0 @containerSize;
}

.divider {
    border-bottom: 0.5px solid @dividerColor;
}

.left {
    flex       : 1;
    display    : flex;
    height     : 100%;
    align-items: center;
}

.leftIconfont {
    margin-right: @spacingSize * 3;
}

.right {
    display    : flex;
    height     : 100%;
    align-items: center;
}

.content {
    display        : flex;
    flex           : 1;
    height         : 50px;
    justify-content: space-between;
    align-items    : center;
}

.leftText {
    margin-right: @spacingSize * 3;
    font-size   : 15px;
    color       : @gray7;
}

.rightText {
    margin-left: @spacingSize * 3;
    font-size  : 15px;
    color      : @gray5;
}
